// base style
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.viewbox {
  height: 100%;
  position: relative;
}

@function pxToVw($px) {
  @return $px / 375px * 100vw;
}

// global
$me-background: rgb(38, 161, 255);
