/* 优惠券 */
.wxdc-red-bag-cell {
  background: #fff;
  margin: 15px 0;
  position: relative;
  padding: 10px 15px;
}
.wxdc-red-bag-checker-item {
  position: relative;
  display: flex;
  box-align: center;
  flex-align: center;
  align-items: center;
  background: #fff;
  margin: 15px 0;
  border-radius: 5px;
  overflow: hidden;
  border-top: 2px solid #ff5340;
}
.wxdc-red-bag-checker-item .wxdc-red-bag-checker-inner {
  padding: 10px 15px 10px 0;
  border-top: 2px dashed #ff5340;
}
.wxdc-red-beg-checker-item .weui_media_box:active {
  background: none;
}
.wxdc-red-bag-checker-item:before,
.wxdc-red-bag-cell:before {
  content: " ";
  position: absolute;
  right: 5px;
  top: 15px;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  background: #ddd;
  z-index: 20;
}
.wxdc-red-bag-cell:before {
  top: 13px;
  right: 15px;
}
.wxdc-red-bag-checker-item:after,
.wxdc-red-bag-cell:after {
  content: '\ea08';
  font-size: 16px;
  color: #fff;
  font-family: "weui";
  position: absolute;
  right: 8px;
  top: 14px;
  z-index: 21;
}
.wxdc-red-bag-cell:after {
  top: 12px;
  right: 17px;
}
.wxdc-red-bag-checker-item-selected:before,
.wxdc-red-bag-cell.active:before {
  background: #26a2ff;
}
